.hero {
  text-align: center;
  padding: 2rem 1rem;
  color: #eee;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.project-card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.6);
  transition: transform 0.3s ease;
  background-image: url('General_Sight_Cosmetics/web_background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.project-card h2 {
  margin: 1rem;
  font-family: 'BlackChancery', serif;
}

.project-card p {
  margin: 0 1rem 1rem;
  font-family: "Times New Roman", serif;
}

.btn {
  display: inline-block;
  margin: 1rem;
  padding: 0.5rem 1rem;
  background: #ff7A00;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background 0.3s ease;
}


